* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8fafc;
}

.header {
  height: 70px;
  padding: 0 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #111827;
  color: white;
}

.header nav {
  display: flex;
  gap: 25px;
}

.header a {
  color: white;
  text-decoration: none;
}