.cart-container {
  padding: 30px;
}

.cart-item {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.cart-item img {
  width: 120px;
  height: 100px;
  object-fit: cover;
}

.cart-item button {
  margin: 5px;
  padding: 7px 12px;
  cursor: pointer;
}